.categories-container {
    width: 250px;
    display: flex;
    flex-direction: column;

    .list-item {
        width: 100%;
        
        button {
            width: 100%;
            height: 100%;
            border: none;
            // border-top: .5px solid #ddd;
            border-bottom: .5px solid #ddd;
            background-color: #fff;
            text-align: left;
            padding: .5rem;
            font-size: .9rem;
            cursor: pointer;
            transition: all .1s;

            &:hover {
                background-color: #f1efef;
            }

            &.active {
                background-color: #eee;
                outline: none;
            }

            &:focus {
                outline: none;
            }
        }
    }
}