@import '../../css/config.scss';

.categories-container {
    @include tablet-sm {
        position: fixed;
        height: 100%;
        transform: translate(-100%, -2rem);
        // top: 0rem;
        z-index: 200;
        transition: all .2s;
        
        .toggle-btn-container {
            display: block !important;
            position: relative;

            button {
                position: absolute;
                left: 100%;
                width: 40px;
                height: 40px;
                border: 1px solid #eee;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
                background-color: #fff;
                color: var(--orange);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
            }
        }

        

        &.active {
            transform: translate(0%, -2rem);
        }
    }

    width: 250px;
    display: flex;
    flex-direction: column;

    .toggle-btn-container {
        display: none;
    }

    .list-item {
        width: 100%;
        
        button {
            width: 100%;
            height: 100%;
            border: none;
            // border-top: .5px solid #ddd;
            border-bottom: .5px solid #ddd;
            background-color: #fff;
            text-align: left;
            padding: .5rem;
            font-size: .9rem;
            cursor: pointer;
            transition: all .1s;

            &:hover {
                background-color: #f8f8f8;
            }

            &.active {
                background-color: #eee;
                outline: none;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all .1s;
    z-index: -100;

    &.active {
        z-index: 199;
        background-color: rgba(0, 0, 0, .1);
    }
}