.item-info-container {
    margin: auto;

    .item-info {
        display: flex;
        margin: auto;
        width: auto;
        justify-content: center;

        .item-image {

            .img {
                width: 300px;
                height: auto;

                img {
                    width: 100%;
                }
            }

            .shopping-cart {
                padding: .5rem;

                button {
                    margin-top: 1rem;
                }
                
                .item-price {
                    font-size: 1.1rem;
                }
            }
        }

        .item-description {
            margin-left: 2.5rem;
            min-width: 400px;

            .link {
                cursor: pointer;
                color: var(--orange);

                &:hover {
                    text-decoration: underline;
                }
            }

            .desc-block {
                padding: .7rem 0;            
                display: flex;    
                border-bottom: 1px solid #eee;

                h3 {
                    font-size: 1.8rem;
                }

                .text {
                    display: block;
                    margin-left: 1rem;
                }
                
                .bold {
                    font-weight: bold;
                    width: 40%;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        height: 95%;
                        width: 1px;
                        background-color: #ddd;
                        right: 0;
                    }
                }
            }
        }
    }
}