.item-info-container {

    .item-info {
        display: flex;

        .item-image {

            .img {
                width: 250px;
                height: auto;

                img {
                    width: 100%;
                }
            }

            .shopping-cart {
                padding: .5rem;

                button {
                    margin-top: 1rem;
                }
                
                .item-price {
                    font-size: 1.1rem;
                }
            }
        }

        .item-description {
            margin-left: 1rem;

            .link {
                cursor: pointer;
                color: var(--orange);

                &:hover {
                    text-decoration: underline;
                }
            }

            .desc-block {
                margin: .5rem 0;

                h3 {
                    font-size: 1.8rem;
                }
                
                .bold {
                    font-weight: bold;
                }
            }
        }
    }
}