@import '../../css/config.scss';

.item-info-container {
    @include tablet-smm {
        width: 100%;
        margin: initial;
    }

    margin: auto;

    .item-info {
        @include tablet-smm {
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        display: flex;
        margin: auto;
        width: auto;
        justify-content: center;

        .item-image {
            @include tablet-smm {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }

            .img {
                @include tablet-smm {
                    margin: auto;
                    width: 100%;
                    max-width: 300px;
                }

                width: 300px;
                height: auto;

                img {
                    width: 100%;
                }
            }

            .shopping-cart {
                @include tablet-smm {
                    margin: auto;
                    width: 100%;
                    // max-width: 300px;
                    text-align: left;
                }

                padding: .5rem;

                button {
                    margin-top: 1rem;
                }
                
                .item-price {
                    font-size: 1.1rem;
                }
            }
        }

        .item-description {
            @include tablet-smm {
                margin-left: 0;
                min-width: 100%;
            }

            margin-left: 2.5rem;
            min-width: 400px;

            .link {
                cursor: pointer;
                color: var(--orange);

                &:hover {
                    text-decoration: underline;
                }
            }

            .desc-block {
                padding: .7rem 0;            
                display: flex;    
                border-bottom: 1px solid #eee;

                h3 {
                    font-size: 1.8rem;
                }

                .text {
                    display: block;
                    margin-left: 1rem;
                }
                
                .bold {
                    font-weight: bold;
                    width: 40%;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        height: 95%;
                        width: 1px;
                        background-color: #ddd;
                        right: 0;
                    }
                }
            }
        }
    }
}