* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;

  --orange: #fa744f;
  --light-orange: #f79071;
  --green: #16817a;
  --dark-green: #024249;
}

:root {
  --orange: #fa744f;
  --light-orange: #f79071;
  --green: #16817a;
  --dark-green: #024249;
}

.app-container {
  padding: 1.5rem .5rem;
}