.small-container form {
    margin: auto;

    button {
        margin-left: 50% !important;
        transform: translateX(-50%);

        &:hover {
            transform: translateX(-50%) translateY(0) !important;
        }
    }
}

.check-icon {
    font-size: .7rem;
    margin-left: 0rem;
    padding-top: 0;
    margin-top: 0;
    transform: translateY(-3px);
}